html {
	background-image: url("../images/dark_wood.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	transition: background 2s;
	transition-timing-function: ease-out;
	transition-delay: 2s;
}

body {
	color: white;
}

h1 {
	font-family: 'Megrim', cursive;
	font-size: 3em;
}

h2 {
	font-family: 'Megrim', cursive;
	font-size: 1.2em;
}

.masthead {
	width: auto;
	border-radius: 10px;
	height: auto;
/*	margin-top: 1em;
*/	margin: 0.5em;
	text-align: center;
	padding: 1em;
	}
.masthead:hover{
	background-color: black;
	text-shadow: 0px 0px 80px whitesmoke;
/*	background-color: darkgrey;
*/	/*opacity: 0.4;*/
	transition: background 0.5s;
	}

.player { 
	width: 25%;
	height: auto;
	margin: 8em auto;
	padding: 2em;
	transition: opacity 0.5s;
	}

.faded {
	opacity: 0.2;
}

.player:hover {
	opacity: 1;
	transition: opacity 0.5s;
}

#tags {
	font-family: 'Fira Mono';
	font-size: 0.77em;
	padding: 0.8em;
	width: 90%;
	border: none;
	border-radius: 10px;
	margin: auto;
	display: block;
	opacity: 1;
}

.track-info {
	width: auto;
	float: left;
	margin-left: 1em;
	border-radius: 10px;
	padding: 0.6em;
	font-family: 'Megrim';
	font-size: 1.75em;
	opacity: 0.3;
	transition: background 0.5s;
}

.track-info:hover {
	opacity: 1;
	background-color: black;
	transition: background 0.5s;
}

.hidden {
	display: none;
	position: fixed;
	background-color: black;
	width: 25%;
	height: auto;
	/*margin: auto;*/
	/*padding: 1em;*/
	text-align: center;
}

.hidden-content {
	padding: 1em;
	font-family: 'Fira Mono';
	font-size: 1.1em;
}

#hidden-close {
	margin-top: 1em;
}

button {
	font-family: 'Fira Mono';
	font-size: 1em;
	display: block;
	margin: auto;
	border: none;
	border-radius: 10px;
	background-color: whitesmoke;
	padding: 0.35em 1em;
	transition: background 0.5s;

	}

button:hover { 
	background-color: black;
	color: whitesmoke;
	transition: 0.5s;
	}

/*#play:hover button{
	background-image: url('../images/button_play.png');
	}*/
	
@media screen and (max-width: 915px) {
	.player {
		width: 40%;
		margin: 5em auto;
		padding: 1.5em;
		}	
	}

@media screen and (max-width: 590px) {
	.player {
		width: 70%;
		margin: 2em auto;
		padding: 1em;
		}	
	}